@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suwannaphum:wght@100;300;400;700;900&display=swap");
@font-face {
  font-family: ChocoShake;
  src: url(../fonts/Choco\ Shake.ttf);
}
.textfommart {
  background-color: rgb(228, 244, 249);
  width: 80%;
  margin: auto;
  font-family: "ChocoShake", "Suwannaphum", sans-serif;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}
.table {
    margin: auto;
    width: 80%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
thead {
    background-color: blue;
    color: white;
}
tbody tr:nth-child(odd) {
    background-color: #c0ffeb;
}
tbody tr:nth-child(even) {
    background-color: whitesmoke;
}
tbody tr:hover {
    background-color: bisque;
}

body {
  background-color: whitesmoke;
}
h3 {
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 5px;
}
.textblue {
  color: darkblue;
}
span {
  letter-spacing: 3px;
}
small {
  font-family: "Courier New", Courier, monospace;
}
button {
  border: 0;
  background-color: darkblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
button:hover {
  background-color: blue;
}
